
$primary-color: royalblue;

h1 {
  font-family: copperplate;
  color: $primary-color;
  text-align: center;
}

body {
  background-image: url("https://thelistlove.files.wordpress.com/2014/03/26.jpg");
}

.search {
  width: 50%;
}
